soap-service/src/main/resources/webservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://www.codechallange.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.codechallange.com/"
	targetNamespace="http://www.codechallange.com/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://www.codechallange.com/">
			<xs:element name="guardarClienteRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="cliente" type="tns:cliente" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="guardarClienteResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="estado" type="tns:estado" />
						<xs:element name="cliente" type="tns:cliente" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="cliente">
				<xs:sequence>
					<xs:element name="idCliente" type="xs:long" />
					<xs:element name="nombre" type="xs:string" />
					<xs:element name="identificacion" type="xs:string" />
					<xs:element name="tipoIdentifiacion" type="xs:int" />
					<xs:element name="fechaNacimiento" type="xs:date" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="estado">
				<xs:sequence>
					<xs:element name="estado" type="xs:string" />
					<xs:element name="mensaje" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="guardarClienteRequest">
		<wsdl:part element="tns:guardarClienteRequest"
			name="guardarClienteRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="guardarClienteResponse">
		<wsdl:part element="tns:guardarClienteResponse"
			name="guardarClienteResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ClientesPort">
		<wsdl:operation name="guardarCliente">
			<wsdl:input message="tns:guardarClienteRequest"
				name="guardarClienteRequest">
			</wsdl:input>
			<wsdl:output message="tns:guardarClienteResponse"
				name="guardarClienteResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ClientesPortSoap11"
		type="tns:ClientesPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="guardarCliente">
			<soap:operation soapAction="" />
			<wsdl:input name="guardarClienteRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="guardarClienteResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ClientesPortService">
		<wsdl:port binding="tns:ClientesPortSoap11"
			name="ClientesPortSoap11">
			<soap:address location="http://localhost:8085/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
